/*
 *      project-details.scss
 * -----------------------------------------------
*/
.project-details-section{
  position: relative;
  padding: 120px 0 110px;
   
    .image-box{
      margin-bottom: 80px;
    }
   .project-column{
      .inner-box{
         padding: 30px 40px 32px;
         border: 1px solid rgba(0, 0, 0, 0.1019607843);
         border-radius: 20px;
         background: #F5F5F5;
         .title{
            font-size: 28px;
            color: var(--theme-color3);
            @include media-breakpoint-only(sm){
               font-size: 22px;
            }
         }
         .project-name{
            position: relative;
            
            .project{
               li{
                  display: flex;
                  justify-content: space-between;
                  color: var(--theme-color-black);
                  font-size: 16px;
                  padding-top: 25px;
                  span{
                     color: #707070;
                     display: inline-block;
                  }
               }
            }
         }
      }

   }
   .content-column{
       .inner-box{
          margin-left: 25px;
           .project-content{
              .project-desc{
                 .drop-cap{
                     float: left;
                     font-size: 50px;
                     line-height: 1;
                     font-weight: 600;
                     color: var(--theme-color4);
                     padding-right: 8px;
                     padding-top: 4px;
                 }
              }
           }
           .expert-title{
              .title{
                  font-size: 40px;
                  color: var(--theme-color3);
                  padding-top: 10px;
                  margin-bottom: 22px;
               }
           }
           .icon-box{
              display: flex;
              margin-top: 7px;
              margin-bottom: 28px;
                .icon{
                  position: relative;
                  top: 3px;
                  color: var(--theme-color1);
                  font-size: 20px;
                  line-height: 1em;
                  margin-right: 17px;
                }
               .icon-content{
                   .title{
                      color: var(--theme-color3);
                      font-weight: 700;
                      margin-bottom: 13px;
                   }
               }
            }
            .image-box-inner{
                .image{
                   padding-top: 30px;
                }
            }
            .project-btn{
               display: flex;
               justify-content: space-between;
               padding-top: 20px;

               .btn{
                  font-size: 20px;
                  color: var(--theme-color-black);
                  font-weight: 400;

                  .icon{
                     font-size: 12px;
                     color: #232428;
                     margin: 0 8px;
                  }
               }
            }
         }  
   }

}

